
.grid-post {
   display: grid;
   grid-gap: 10px;
   width: 50%;
   grid-template-columns: 1fr 1fr 1fr 1fr;
@include mobile { grid-template-columns: 1fr 1fr;
   width: 120px; }
   }
.card-post-img {
   width: 280px;
   height: 170px;
@include mobile { width: 160px;
   height: 102px; }
}